<div class="jumbotron">
	<h1>Welcome to <%= appName %></h1>
    <h3>All Backstrapped and ready to go!</h3>
    <br>
    <div class="well">
        <ul class="list-inline text-center">
            <li>Backbone</li>
            <li>LayoutManager</li>
            <li>Bootstrap</li>
            <li>CoffeeScript</li>
            <li>RequireJS</li>
            <li>Grunt</li>
            <li>Parse.com</li>
        </ul>
        <h3 class="text-center">You're going to have a great time.</h3>
    </div>
</div>
