<div class="jumbotron">
	<h1>Welcome to <%= appName %></h1>
    <h3>All Backstrapped and ready to go!</h3>
    <br>
    <div class="well text-center">
        <ul class="list-inline">
            <li><% if (useParse) { %><a href="http://parse.com">Parse</a><% } else { %><a href="http://backbonejs.org">Backbone</a><% } %></li>
            <li><a href="http://layoutmanager.org/">LayoutManager</a></li>
            <li><a href="https://github.com/backbone-boilerplate/backbone-boilerplate">Boilerplate</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap 3.0</a></li>
            <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
            <li><a href="http://coffeescript.org">CoffeeScript</a></li>
            <li><a href="http://requirejs.org/">RequireJS</a></li>
            <li><a href="http://gruntjs.com/">Grunt</a></li>
        </ul>
        <button class="btn btn-success btn-lg">You're going to have a great time.</button>
    </div>
</div>
<a href=""></a>
