<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            <%= appName %>
        </a>
    </div>
    <p class="navbar-text">
        The most awesome webapp ever built.
    </p>
    <ul class="nav navbar-nav pull-right">
        <li><a href="#about">About</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="https://github.com/giladgray/generator-backstrap" target="_blank">GitHub</a></li>
    </ul>
</nav>
