<div class="navbar navbar-default">
    <div class="navbar-header">
    	<a href="#" class="navbar-brand">
    		<%= appName %>
    	</a>
    </div>
	<p class="navbar-text">
		Build and test regular expressions from the comfort of your browser!
	</div>
	<ul class="nav navbar-nav">
		<li><a href="" id="learn">cheat sheet</a></li>
		<li><a href="" id="feedback">feedback</a></li>
		<li><a href="https://github.com/giladgray/regexjs" target="_blank">github</a></li>
	</ul>
</div>
