<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title><%= appName %></title>
    <meta name="viewport" content="width=device-width, user-scalable=false">

    <link href="styles/index.css" rel="stylesheet" type="text/css">
    <!-- JavaScript and HTML must be in separate files for security. -->
  </head>
  <body>
    <div id="main">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Loading...</h1>
                <h2>Hang tight, bub.</h2>
            </div>
        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/layoutmanager/backbone.layoutmanager.js"></script>
    <script src="bower_components/handlebars/handlebars.runtime.js"></script>
    <!-- endbuild -->

    <script src="scripts/templates.js"></script>
    <script src="scripts/index.js"></script>
  </body>
</html>
